
// Font Family
$sofia-fonts: 'SofiaPro', sans-serif;
$montserrat-fonts: 'Montserrat', sans-serif;
$sequal-font-900: 'Sequel100Wide-45', sans-serif;
$sequal-font: 'Sequel100Wide-400', sans-serif;
$sofia-pro-bold: 'SofiaProBold', sans-serif;

$white: #fff;
$bright-gray:#ecf0f3;
$black: #000;
$primary: #03A9F4;
$red: #FF0000;

$font-size-base-px: 16px;

// button colors
$primary1: #e8f0fe;